/** styling for range */
main .form .range-widget-wrapper.decorated input[type="range"] {
    margin: unset;
    padding: unset;
    appearance: none;
    height: 7px;
    border-radius: 7px;
    border: none;
    background-image: linear-gradient(to right, #F99F35 calc(100% * var(--current-steps)/var(--total-steps)), var(--border-color) calc(100% * var(--current-steps)/var(--total-steps)));
}
 
main .form .range-widget-wrapper.decorated input[type="range"]:focus {
    outline: none;
}
 
.range-widget-wrapper.decorated input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #1c3fca;
    border: 2px solid #fff;
}
 
.range-widget-wrapper.decorated input[type="range"]:focus::-webkit-slider-thumb {
    width: 30px;
    height: 30px;
    border: 3px solid #fff;
}
 
.range-widget-wrapper.decorated .range-bubble {
    color: #17252e;
    font-size: 18px;
    line-height: 28px;
    position: relative;
    display: inline-block;
}
 
.range-widget-wrapper.decorated .range-min,
.range-widget-wrapper.decorated .range-max {
    font-size: 16px;
    line-height: 22px;
    color: #494f50;
    margin-top: 10px;
    display: inline-block;
}
 
.range-widget-wrapper.decorated .range-max {
    float: right;
}