header {
    background: #09153a;
    height: 100px !important;
    padding-bottom: 60px;
    margin-bottom: -15px;
    position: relative;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

#nav .nav-button a {
    align-items: center;
    background: no-repeat 25px center / 18px 18px var(--icon-question);
    padding-left: 50px;
}