/** styling for slider */
main .form .slider-widget-wrapper.decorated input[type="range"] {
    margin: unset;
    padding: unset;
    appearance: none;
    height: 5px;
    border-radius: 5px;
    border: none;
    background-image: linear-gradient(to right, var(--button-primary-color) calc(100% * var(--current-steps)/var(--total-steps)), #C5C5C5 calc(100% * var(--current-steps)/var(--total-steps)));
}
 
main .form .slider-widget-wrapper.decorated input[type="range"]:focus {
    outline: none;
}
 
.slider-widget-wrapper.decorated input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #fff;
    border: 3px solid var(--button-primary-color);
    cursor: pointer;
    outline: 3px solid #fff;
}
 
.slider-widget-wrapper.decorated input[type="range"]:focus::-webkit-slider-thumb {
    border-color: var(--button-primary-color);
}
 
.slider-widget-wrapper.decorated .slider-bubble {
    color: #17252e;
    font-size: 20px;
    line-height: 28px;
    position: relative;
    display: inline-block;
    padding-bottom: 12px;
}
 
.slider-widget-wrapper.decorated .slider-min,
.slider-widget-wrapper.decorated .slider-max {
    font-size: 14px;
    line-height: 22px;
    color: #494f50;
    margin-top: 16px;
    display: inline-block;
}
 
.slider-widget-wrapper.decorated .slider-max {
    float: right;
}