footer {
    background: #09153a;
    height: 40px !important;
}

footer .footer{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}

p.footnote {
  color: white;
  margin: 0;
}


.footer-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}